<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>
    <!-- navbar -->
    {{>navbar}}
    <div class="container">
        <div class="row mx-auto">
            <div class="col-10 col-md-12 main-header-left align-items-center">
                <figure class="err-img">
                    <img  class="img-fluid" src="./images/404.png" alt="">
                </figure>
                <p>Welcome to NITU Weather app</p>
                <h1>{{errMsg}}</h1>
                <a href="/">
                    <button>Go Back</button>
                </a>
            </div>
        </div>
    </div>
    <!-- footer -->
    {{>footer}}
</body>

</html>