<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>
    <!-- navbar -->
    {{>navbar}}
    <!-- content -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main-header-right align-items-start">
                        <figure>
                            <img src="./images/about.png" alt="">
                        </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main-header-left">
                        <p>hellloooooooo there!!!!</p>
                        <h1>
                            i am <span>nitansh ritul</span>, developer of this website
                        </h1>
                        <a href="/weather"><button>about me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {{>footer}}
</body>

</html>